body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #294c73;
}

.main-div {
    background-color: #a8ccf2;
    width: 60%;
    margin: 0 auto;
    border-radius: 40px;
    padding-bottom: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 30px;
}